<li class="notification">
  <% user = notification.notified_by %>

  <div>
    <%= link_to gravatar_for(user, size: 40), user %>
  </div>

  <div class="notification-message">
    <%= link_to user.name, user %>さんが

    <% case notification.notification_type %>
    <% when "favorite" %>
      <%= link_to "あなたの写真をお気に入り登録しました。", micropost_path(notification.micropost_id) %>
    <% when "follow" %>
      <span>あなたをフォローしました。</span>
    <% when "comment" %>
      <%= link_to "あなたの写真にコメントしました。", micropost_path(notification.micropost_id) %>
    <% end %>
  </div>

  <div class="timestamp">
    <%= time_ago_in_words(notification.created_at) %> ago.
  </div>


</li>
