<% @user ||= current_user %>

<div class="stats">
  <div>
    投稿<span class="stat">
        <%= @user.microposts.count %>
      </span>件
  </div>
  <a href="<%= following_user_path(@user) %>">
    <span id="following" class="stat">
      <%= @user.following.count %>
    </span>
    人をフォロー中
  </a>
  <a href="<%= followers_user_path(@user) %>">
    フォロワー
    <span id="followers" class="stat">
      <%= @user.followers.count %>
    </span>
    人
  </a>
  <a href="<%= favorites_user_path(@user) %>">
    <span id="favorites" class="stat">
      <%= @user.favorites.count %>
    </span>
    お気に入り
  </a>
</div>
