<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%= link_to fa_icon("camera-retro 3x white"), root_path %>
    <%= link_to "Instagram_clone", root_path, id: "logo" %>

      <ul class="nav navbar-nav navbar-right">

        <% if logged_in? %>

          <li>
            <%= form_tag(microposts_path, method: :get, class: "navbar-form") do %>
              <div class="form-group">
                <%= text_field_tag :search, '', class: "form-control" %>
              </div>
                <%= button_tag "検索", type: "submit", name: nil, class: "btn btn-default" %>
            <% end %>
          </li>

          <li>
            <% if current_user.has_unread_notifications? %>
                <a href="<%= notifications_path %>">
                  <i class="fa fa-bell fa-yellow" id="fa-bell"></i>
                  <%= current_user.notifications.where(read: false).count %>
                </a>
            <% else %>
                <a href="<%= notifications_path %>">
                  <i class="fa fa-bell" id="fa-bell"></i>
                </a>
                <!-- <%= link_to fa_icon("bell"), notifications_path %> -->
            <% end %>
          </li>

          <li><%= link_to "ユーザー一覧", users_path %></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              アカウント<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "自分のプロフィール", user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
            </ul>
          </li>

        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>

  </div>
</header>
