<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%= link_to fa_icon("camera-retro 3x white"), root_path %>
    <%= link_to "Instagram_clone", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>

        <% if logged_in? %>
          <% if current_user.has_unread_notifications? %>
            <li>
              <a href="<%= notifications_path %>">
                <%= fa_icon("bell 2x yellow") %><%= current_user.notifications.where(read: false).count %>
              </a>
            </li>
          <% else %>
            <li>
              <%= link_to fa_icon("bell 2x"), help_path %>
            </li>
          <% end %>

          <li><%= link_to "ユーザー一覧", users_path %></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              アカウント<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "自分のプロフィール", user_path(current_user) %></li>
              <li><%= link_to "パスワードの変更", change_password_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
            </ul>
          </li>

        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
